/* td, th {
    vertical-align: middle !important;
    }
.left, .right {
        float:left;
        height:100vh;
    }
    
.left {
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s ;
    }

.right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
    }    

.left:hover {
        width: 250px;
    }    
    
.item:hover {
        background-color:#ccc;
        }
        
.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }
    
.right .glyphicon {
        color:#a9a9a9;
    }
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }
    
.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }
.title {
        background-color:#eee;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        box-sizing: border-box;
    }
.search:hover {
        border-color:#4aa9fb;
        border-width:1px;
    }
.search {
    padding:3px 8px 3px !important;
    }
input[type=search] {
    padding: 10px 0px 10px;
	border: 0px solid #fff;
	background: #eee;
	-webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
    }
.type{
    height: 47px;;
    }
.date{
    background-color:#f7f7f7
    }
.docdate {
    vertical-align:bottom !important;
    }
.distr {
    margin: 0 0 5px;
    font-size: 12px;
    }
.ndoc {
    margin: 0 0 5px;
    }
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
    }
        
    
    
   

     */

body{
    background-color: darkmagenta;
}

.nav-custom{
    background-color: white !important;
    height: 63px;
    border-bottom: 1px solid #e0e0e0;
}     

.main-logo{
    margin-left: 50px;
}

.search-area{
    margin:auto; 
}

.row-index{
    margin: 0 7%;
}

.col-index{
    margin: auto;
    padding: 7px;
}

.index-item{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 220px;
    background-position: center;
    margin-top: 15px;
}

.detail-index{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: white;
}

.category-index{
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: white;
}

.name-index{
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

/* scrollspy right */

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.side-menu {
    position: fixed;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 22px;
    height: 100%;
    display: table;
  }
  
  .side-menu div {
    display: table-cell;
    vertical-align: middle;
  }
  
  .side-menu li {
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }
  
  .side-menu a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
    text-align: right;
  }
  
  .side-menu a:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #FFF;
    -webkit-transition: 0.2s;
            transition: 0.2s;
  }
  
  .side-menu span {
    display: block;
    position: absolute;
    right: 32px;
    -webkit-transition: 0.2s;
            transition: 0.2s;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
        -ms-transform: translate3d(30px, 0, 0);
         -o-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0);
  }
  
  .side-menu .active a:after {
    background: #FFF;
  }
  
  .side-menu .active span {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }