</div>
<footer>
    <p class="text-center">Albumz &copy; 2016, All Rights Reserved</p>
</footer>
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/javascripts/slick.js"></script>
<script src="/javascripts/main.js"></script>
<script>
    $(".regular").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.regular',
        dots: true,
        centerMode: true,
        focusOnSelect: true
    });
</script>
</body>

</html>