<ul id="accordion" class="accordion">
  <% var group = []; %>
  <% cateAll.forEach(function(cate) { 
     if(group.includes(cate.group)){
     }else{
      group.push(cate.group);
     }
    }); %>

  <% group.forEach(function(g) { %>
  <li>
    <div class="link"><i class="fa fa-gamepad"></i>
      <%=g %><i class="fa fa-chevron-down"></i></div>
    <ul class="submenu">
      <% cateAll.forEach(function(cate) { %>
      <% if(cate.group == g) { %>
      <li><a href="/category/<%= cate.name %>/1">
          <%=cate.name %></a></li>
      <% } %>
      <% }); %>
    </ul>
  </li>
  <% }); %>
</ul>