<div class="modal" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="addForm" method="post" action="/games">
                        <div class="form-group">
                            <label class="font-weight-bold">Name</label>
                            <input class="form-control" id="addName" name="name" type="text" placeholder="Enter Name" />
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Seri</label>
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="addAvatar" name="avatar" type="text" />
                        </div>
                    </form>
                    <!-- Image Upload -->
                    <form method="post" action="#" name='photo' id='imageuploadform' enctype="multipart/form-data">
                        <input hidden="true" id="fileupload" type="file" name="image[]" multiple>

                        <div id="divleft">
                            <button id="btnupload" class="btn btn-primary">Upload Image</button>
                        </div>
                        <div class="progress">
                            <div id="uploadPogress" class="progress-bar" role="progressbar" style="width: 0%;"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="result">

                        </div>
                    </form>
                    <!-- End Image Upload -->
                    <button type="button" class="btn btn-primary" id="addSubmit">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var arrLinkDownload = [];
    var countLinkDownLoad = 0;
    var linkDownload, typeLinkDownload, checked;
    $('#btnDownloadLink').on('click', () => {
        linkDownload = $('#linkDownload').val();
        typeLinkDownload = $('#typeLinkDownload').val();
        checked = false;

        for (let a = 0; a < arrLinkDownload.length; a++) {
            if (arrLinkDownload[a].link == linkDownload && arrLinkDownload[a].typeLink == typeLinkDownload) {
                checked = true;
            }
        }
        if (checked == false) {
            $('#list-add-downloadLink').append('<div class="col-md-9" id="link-item-' + countLinkDownLoad + '">link : <a href="' + linkDownload + '">' + linkDownload + '</a> Type : ' + typeLinkDownload + '</div><div class="col-md-3"><a class="remove" onclick="removeLink(' + countLinkDownLoad + ')" href="#" title="Remove"><i class="fa fa-trash"></i></a></div>');
            arrLinkDownload.push({ link: linkDownload, typeLink: typeLinkDownload });
            $('#addDownloadLink').val(JSON.stringify(arrLinkDownload));
            countLinkDownLoad++;
        } else {
            alert('Link da ton tai');
        }
    });

    function removeLink(i) {
        var currentUrl = $('#link-item-' + i).children().attr('href');
        for (let a = 0; a < arrLinkDownload.length; a++) {
            if (arrLinkDownload[a].link == currentUrl) {
                arrLinkDownload.splice(a, 1);
                $('#addDownloadLink').val(JSON.stringify(arrLinkDownload));
                $('#link-item-' + i).next().remove();
                $('#link-item-' + i).remove();
            }
        }
    }

    $('#addSubmit').on('click', () => {
        $('#addForm').submit();
    });

    $('#add').on('click', function () {
        $('#addCategory').multiselect({
            enableClickableOptGroups: true
        });
        CKEDITOR.instances['addSystemRequirements'].setData("<p><strong>CPU:</strong> Core i7 6700</p><p><strong>CPU SPEED:</strong> 2.0 GHz</p><p><strong>RAM:</strong> 16 GB</p><p><strong>OS:</strong> Windows 7/Vista/XP PC (32 or 64 bit)</p><p><strong>VIDEO CARD:</strong> DirectX 9.0c compliant video card with 512 MB of RAM - NVIDIA GeForce 7600 GT & ATI Radeon X1800.</p><p><strong>PIXEL SHADER:</strong> 3.0</p><p><strong>VERTEX SHADER:</strong> 3.0</p><p><strong>SOUND CARD:</strong> Có</p><p><strong>FREE DISK SPACE:</strong> 16 GB</p><p><strong>DEDICATED VIDEO RAM:</strong> 512 MB</p>");
        $('#addModal').modal('show');
    });

    $('#addForm').submit(function () {
        for (instance in CKEDITOR.instances)
            CKEDITOR.instances[instance].updateElement();

        $(this).ajaxSubmit({

            error: function (xhr) {
                alert(JSON.stringify(xhr));
            },

            success: function (response) {
                if (response.success_msg != null) {
                    $.jnoty(response.success_msg, {
                        theme: 'jnoty-success',
                        life: 3000,
                        icon: 'fa fa-check-circle',
                        position: 'top-right'
                    });
                }
                else {
                    // response.errors.forEach(err => {
                    //     $.jnoty(err.msg, {
                    //         theme: 'jnoty-danger',
                    //         life: 3000,
                    //         icon: 'fa fa-check-circle',
                    //         position: 'top-right'
                    //     });
                    // });
                        console.log(response);
                        
                }
                $table.bootstrapTable('refresh');
            }
        });
        return false;
    });


    // Image Upload
    var count = [];
    var imgData = [];
    $("#btnupload").click(function (e) {

        $("#fileupload").click();
        e.preventDefault();

    });

    $('#fileupload').change(function (e) {

        $("#imageuploadform").submit();
        e.preventDefault();
    });

    $('#imageuploadform').submit(function (e) {
        var formData;
        for (let i = 0; i < $('#fileupload').prop('files').length; i++) {
            formData = new FormData();
            formData.append('image', $('#fileupload').prop('files')[i]);
            $.ajax({
                type: 'POST',
                url: 'https://api.imgur.com/3/image',
                data: formData,
                headers: {
                    "Authorization": "Bearer 59a5e7b42b1dbd98a0d143440fd943a48cd5d12b"
                },
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', (e) => {
                            if (e.lengthComputable) {
                                var max = e.total;
                                var current = e.loaded;
                                var Percentage = (current * 100) / max;
                                count[i] = Percentage;
                                $('#uploadPogress').attr('aria-valuenow', count.reduce(getSum) / (count.length).toFixed(0));
                                $('#uploadPogress').css('width', (count.reduce(getSum) / (count.length)) + '%');
                                $('#uploadPogress').text((count.reduce(getSum) / (count.length)).toFixed(0) + '%');

                            }
                        }, false);
                    }
                    return myXhr;
                },
                cache: false,
                contentType: false,
                processData: false,

                success: function (data) {
                    imgData.push({ link: data.data.link });
                    $('#addAvatar').val(JSON.stringify(imgData));
                    $('#result').append('<div class="img-item" id="uploadedImage' + i + '"><i class="close fa fa-remove" onclick="removeImage(' + i + ')"></i><img src="' + data.data.link + '" width="200px"/></div>');
                    if (count.reduce(getSum) / (count.length).toFixed(0) == 100) {
                        $.jnoty('Upload Images Success !!', {
                            theme: 'jnoty-success',
                            life: 3000,
                            icon: 'fa fa-check-circle',
                            position: 'top-right'
                        });
                    }
                },

                error: function (data) {
                    //$.jnoty(data.responseJSON.data.error.message, {
                    //    theme: 'jnoty-danger',
                    //    life: 3000,
                    //    icon: 'fa fa-check-circle',
                    //    position: 'top-right'
                    //});
                    console.log(data);
                }
            });
        }



        e.preventDefault();

    });

    function getSum(total, num) {
        return total + num;
    }

    function removeImage(i) {

        var currentUrl = $('#uploadedImage' + i + ' img').attr("src");
        for (let a = 0; a < imgData.length; a++) {
            if (imgData[a].link == currentUrl) {
                imgData.splice(a, 1);
                $('#addAvatar').val(JSON.stringify(imgData));
                $('#uploadedImage' + i).remove();
            }
        }

    }
</script>