<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="editForm" action="/games">
                        <input type="hidden" id="editId" name="id" />
                        <div class="form-group">
                            <label class="font-weight-bold">Name</label>
                            <input class="form-control" id="editName" name="name" type="text" placeholder="Enter Name" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Email</label>
                            <input class="form-control" id="editEmail" name="email" type="text" placeholder="Enter Email" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">UserName</label>
                            <input class="form-control" id="editUserName" name="username" type="text" placeholder="Enter UserName" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Password</label>
                            <input class="form-control" id="editPassword" name="password" type="text" placeholder="Enter Password" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Re Password</label>
                            <input class="form-control" id="editRePassword" name="rePassword" type="text" placeholder="Enter Re Password" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">UserType</label>
                            <input class="form-control" id="editUserType" name="userType" type="text" placeholder="Enter User Type" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Status</label>
                            <input class="form-control" id="editStatus" name="status" type="text" placeholder="Enter Status" />
                        </div>
                        <div class="form-group">
                            <input hidden="true" class="form-control" id="editAvatar" name="avatar" type="text" />
                        </div>

                    </form>
                    <!-- Image Upload -->
                    <form method="post" action="#" name='photo' id='imageuploadeditform' enctype="multipart/form-data">
                        <input hidden="true" id="fileuploadedit" type="file" name="image[]" multiple>

                        <div id="divleft">
                            <button id="btnuploadedit" class="btn btn-primary">Upload Image</button>
                        </div>
                        <div class="progress">
                            <div id="uploadPogressEdit" class="progress-bar" role="progressbar" style="width: 0%;"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="resultEdit">

                        </div>
                    </form>
                    <!-- End Image Upload -->
                    <button type="button" class="btn btn-primary" id="editSubmit">Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var editLinkDownload, editTypeLinkDownload, checkedEdit;
    $('#btnEditDownloadLink').on('click', () => {
        editLinkDownload = $('#editLinkDownload').val();
        editTypeLinkDownload = $('#editTypeLinkDownload').val();
        checkedEdit = false;

        for (let a = 0; a < arrEditLinkDownload.length; a++) {
            if (arrEditLinkDownload[a].link == editLinkDownload && arrEditLinkDownload[a].typeLink == editTypeLinkDownload) {
                checkedEdit = true;
            }
        }
        if (checkedEdit == false) {
            $('#list-edit-downloadLink').append('<div class="col-md-9" id="link-edit-item-' + countEditLinkDownLoad + '">link : <a href="' + editLinkDownload + '">' + editLinkDownload + '</a> Type : ' + editTypeLinkDownload + '</div><div class="col-md-3"><a class="remove" onclick="removeEditLink(' + countEditLinkDownLoad + ')" href="#" title="Remove"><i class="fa fa-trash"></i></a></div>');
            arrEditLinkDownload.push({ link: editLinkDownload, typeLink: editTypeLinkDownload });
            $('#editLinkDownloads').val(JSON.stringify(arrEditLinkDownload));
            countEditLinkDownLoad++;
        } else {
            alert('Link da ton tai');
        }
    });

    function removeEditLink(i) {
        var currentUrl = $('#link-edit-item-' + i).children().attr('href');
        for (let a = 0; a < arrEditLinkDownload.length; a++) {
            if (arrEditLinkDownload[a].link == currentUrl) {
                arrEditLinkDownload.splice(a, 1);
                $('#editLinkDownloads').val(JSON.stringify(arrEditLinkDownload));
                $('#link-edit-item-' + i).next().remove();
                $('#link-edit-item-' + i).remove();
            }
        }
    }

    $('#editSubmit').on('click', () => {
        $('#editForm').submit();
    });

    $('#editForm').submit(function () {
        for (instance in CKEDITOR.instances)
            CKEDITOR.instances[instance].updateElement();

        $(this).ajaxSubmit({
            type: 'PUT',
            error: function (xhr) {
            },
            success: function (response) {
                if (response.success_msg != null) {
                    $.jnoty(response.success_msg, {
                        theme: 'jnoty-success',
                        life: 3000,
                        icon: 'fa fa-check-circle',
                        position: 'top-right'
                    });
                }
                else {
                    response.errors.forEach(err => {
                        $.jnoty(err.msg, {
                            theme: 'jnoty-danger',
                            life: 3000,
                            icon: 'fa fa-check-circle',
                            position: 'top-right'
                        });
                    });
                }
                $table.bootstrapTable('refresh');
            }
        });
        return false;
    });

    // Image Upload
    var countEdit = [];
    var imgDataEdit = [];
    $("#btnuploadedit").click(function (e) {

        $("#fileuploadedit").click();
        e.preventDefault();

    });

    $('#fileuploadedit').change(function (e) {

        $("#imageuploadeditform").submit();
        e.preventDefault();
    });

    $('#imageuploadeditform').submit(function (e) {
        var formData;
        for (let i = 0; i < $('#fileuploadedit').prop('files').length; i++) {
            formData = new FormData();
            formData.append('image', $('#fileuploadedit').prop('files')[i]);
            $.ajax({
                type: 'POST',
                url: 'https://api.imgur.com/3/image',
                data: formData,
                headers: {
                    "Authorization": "Bearer 59a5e7b42b1dbd98a0d143440fd943a48cd5d12b"
                },
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', (e) => {
                            if (e.lengthComputable) {
                                var max = e.total;
                                var current = e.loaded;
                                var Percentage = (current * 100) / max;
                                countEdit[i] = Percentage;
                                $('#uploadPogressEdit').attr('aria-valuenow', countEdit.reduce(getSum) / (countEdit.length).toFixed(0));
                                $('#uploadPogressEdit').css('width', (countEdit.reduce(getSum) / (countEdit.length)) + '%');
                                $('#uploadPogressEdit').text((countEdit.reduce(getSum) / (countEdit.length)).toFixed(0) + '%');

                            }
                        }, false);
                    }
                    return myXhr;
                },
                cache: false,
                contentType: false,
                processData: false,

                success: function (data) {
                    imgDataEdit.push({ link: data.data.link });
                    $('#editAvatar').val(JSON.stringify(imgDataEdit));
                    $('#resultEdit').append('<div class="img-item" id="uploadedEditImage' + i + '"><i class="close fa fa-remove" onclick="removeImageEdit(' + i + ')"></i><img src="' + data.data.link + '" width="200px"/></div>');
                    if (countEdit.reduce(getSum) / (countEdit.length).toFixed(0) == 100) {
                        $.jnoty('Upload Images Success !!', {
                            theme: 'jnoty-success',
                            life: 3000,
                            icon: 'fa fa-check-circle',
                            position: 'top-right'
                        });
                    }
                },

                error: function (data) {
                    $.jnoty(data.responseJSON.data.error.message, {
                        theme: 'jnoty-danger',
                        life: 3000,
                        icon: 'fa fa-check-circle',
                        position: 'top-right'
                    });
                }
            });
        }

        e.preventDefault();

    });

    function removeImageEdit(i) {
        var currentUrl = $('#uploadedEditImage' + i + ' img').attr("src");
        for (let a = 0; a < imgDataEdit.length; a++) {
            if (imgDataEdit[a].link == currentUrl) {
                imgDataEdit.splice(a, 1);
                $('#editAvatar').val(JSON.stringify(imgDataEdit));
                $('#uploadedEditImage' + i).remove();
            }
        }

    }
</script>