<% include ../partials/header %>
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                        <div id="toolbar">
                                <button id="add" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-add"></i> Add
                                </button>
                                <button id="remove" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i> Delete
                                </button>
                                <button id="addCategoryBtn" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">
                                    <i class="glyphicon glyphicon-add"></i> Add Category
                                </button>
                            </div>
                            <table id="table" data-toolbar="#toolbar" data-show-refresh="true" data-show-toggle="true"
                                data-show-columns="true" data-detail-formatter="detailFormatter" data-minimum-count-columns="2"
                                data-show-pagination-switch="true" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]"
                                data-show-footer="false" data-click-to-select="true" data-url="/data" data-response-handler="responseHandler">
                            </table>
                </div>
               
            </div>
            <div>
                <h1> </h1>

            </div>
        </div>
    </div>
</div>

<!-- Table -->

<!-- Add Modal -->
<% include add %>
<!-- Add Modal -->

<!-- Edit Modal -->
<% include edit %>
<!-- Edit Modal -->
<script src="/javascripts/game/table_game.js"></script>
<% include ../partials/footer %>