<div class="modal" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <h5 class="modal-title">Add Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="addForm" method="post" action="/games" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="addName" name="name" type="text" placeholder="Enter Name" />
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" id="addCategory" name="category">
                                <% category.forEach(function(cate) { %>
                                <option value="<%= cate.name %>">
                                    <%= cate.name %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Download Link</label>
                            <input class="form-control" id="addDownloadLink" name="downloadLink" type="text"
                                placeholder="Download Link" />
                        </div>
                        <div class="form-group">
                            <label>System Requirements</label>
                            <input class="form-control" id="addSystemRequirements" name="systemRequirements" type="text"
                                placeholder="System Requirements" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="addDescription" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Seri</label>
                            <select class="form-control" id="addSeri" name="seri">
                                <% seri.forEach(function(sr) { %>
                                <option value="<%= sr.name %>">
                                    <%= sr.name %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Avatar</label>
                            <input class="form-control" id="addAvatar" name="avatar" type="file" />
                        </div>
                        <input class="btn btn-primary" type="submit" name="submit" value="Add" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/jquery.form.min.js"></script>
<script src="/javascripts/jnoty.js"></script>
<script>
    $('#addForm').submit(function () {
        for (instance in CKEDITOR.instances)
            CKEDITOR.instances[instance].updateElement();
        $(this).ajaxSubmit({

            error: function (xhr) {
                alert(xhr);
            },

            success: function (response) {
                if (response.success_msg != null) {
                    $.jnoty(response.success_msg, {
                        theme: 'jnoty-success',
                        life: 3000,
                        icon: 'fa fa-check-circle',
                        position: 'top-right'
                    });
                }
                else {
                    response.errors.forEach(err => {
                        $.jnoty(err.msg, {
                            theme: 'jnoty-danger',
                            life: 3000,
                            icon: 'fa fa-check-circle',
                            position: 'top-right'
                        });


                    });
                }
                $table.bootstrapTable('refresh');
            }
        });
        return false;
    });
</script>