<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="editForm" action="/games" enctype="multipart/form-data">
                        <input type="hidden" id="editId" name="id" />
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="editName" name="name" type="text" placeholder="Enter Name" />
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" id="editCategory" name="category">
                                <% category.forEach(function(cate) { %>
                                <option value="<%= cate.name %>">
                                    <%= cate.name %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Download Link</label>
                            <input class="form-control" id="editLinkDownload" name="downloadLink" type="text"
                                placeholder="Download Link" />
                        </div>
                        <div class="form-group">
                            <label>System Requirements</label>
                            <input class="form-control" id="editSystemRequirements" name="systemRequirements" type="text"
                                placeholder="System Requirements" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="editDescription" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Seri</label>
                            <select class="form-control" id="editSeri" name="seri">
                                <% seri.forEach(function(sr) { %>
                                <option value="<%= sr.name %>">
                                    <%= sr.name %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Avatar</label>
                            <input class="form-control" id="editAvatar" name="avatar" type="file" />
                        </div>
                        <input class="btn btn-primary" type="submit" name="submit" value="Edit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/jquery.form.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>
<script>
    $(document).ready(function () {

        $('#editForm').submit(function () {

            $(this).ajaxSubmit({
                type: 'PUT',
                error: function (xhr) {
                    alert("err" + xhr);
                },
                success: function (response) {
                    if (response.success_msg != null) {
                        $.jnoty(response.success_msg, {
                            theme: 'jnoty-success',
                              life: 3000,
                              icon: 'fa fa-check-circle',
                              position: 'top-right'
                            });
                    }
                    else {
                        response.errors.forEach(err => {
                            $.jnoty(err.msg, {
                                theme: 'jnoty-danger',
                                  life: 3000,
                                  icon: 'fa fa-check-circle',
                                  position: 'top-right'
                                });
                        });
                    }
                    $table.bootstrapTable('refresh');
                }
            });
            return false;
        });
    });
    ClassicEditor
        .create( document.querySelector( '#editDescription' ) )
        .catch( error => {
            console.error( error );
        } );
</script>