<% include partials/header %>
        <% game.forEach(function(g) { %>
            <ul> 
                <img src="/images/game/<%= g.avatar %>" width="600px">
                <li><%= g.name %></li>
            </ul>
        <% }); %>
<% include partials/footer %>