<% include partials/header %>
    <div class="slider-for">
        <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>
        <div<img src="/images/game/<%= game.avatar %>" width="600px"></div>
        <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>
        <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>

      </div>
<% include partials/footer %>