<% include partials/header %>
<!-- <h2 class="page-header">Login </h2>
<p>Please login below</p>
<form method="post" action="/users/login">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" name="username" type="text" placeholder="Enter Username" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="password" type="password" placeholder="Enter Password" />
    </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Login" />
    
</form> -->


<h3>Scrollspy with List Group</h3>
<hr>
<div class="row">
    <div class="right-menu-custom">
        <ul class="list-group" id="myScrollspy">
            <div><a class="li-test list-group-item" href="#content-javascript"></a> <span class="a-test">A</span></div>
            <a class="li-test list-group-item" href="#content-css"></a> B
            <a class="li-test list-group-item" href="#content-bootstrap"></a> C
        </ul>
    </div>
    <div class="col-10">
        <div data-offset="10" style="padding:5px; border: 1px solid #ccc;">
            <h4 id="content-javascript">Javascript</h4>
            <p>
                JavaScript is a cross-platform, object-oriented scripting language used to make webpages interactive
                (e.x. having complex animations, clickable buttons, popup menus, etc.)...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>

            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>

            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <h4 id="content-css">CSS</h4>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>

            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>

            <h4 id="content-bootstrap">Bootstrap</h4>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>

            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
            <p>
                CSS is the language for describing the presentation of Web pages, including colors,
                layout, and fonts. It allows one to adapt the presentation to different types of devices,
                such as large screens, small screens, or printers. CSS is independent of HTML
                and can be used with any XML-based markup language...
            </p>
        </div>
    </div>
</div>
<hr>
Other Contents ...
</div>
<% include partials/footer %>